<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mvc:annotation-driven/>
	<mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**/write" />
		<mvc:mapping path="/modify/**" />
		<bean id="loginInterceptor" class="com.pcmanager.interceptors.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**"/>
	
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="userController"
		class="com.pcmanager.user.web.UserController">
		<property name="userService" ref="userService"></property>	
	</bean>
	
	<bean id="userService"
		class="com.pcmanager.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
		
		<bean   id="userDao"
         	class="com.pcmanager.user.dao.UserDaoImplForOracle">
     		 <property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
   		</bean>
	
	<bean id="pcmanagerController"
		class="com.pcmanager.PcManagerController">
		<property name="gameNewsBoardService" ref="gameNewsBoardService"></property>
		<property name="reviewBoardService" ref="reviewBoardService"></property>
	</bean>
		
	<bean id="gameNewsBoardController"
			class="com.pcmanager.gamenews.web.GameNewsBoardController">
			<property name="gameNewsBoardService" ref="gameNewsBoardService"></property>
			<property name="userService" ref="userService"/>
		</bean>
	
	<bean id="gameNewsBoardService"
		class="com.pcmanager.gamenews.service.GameNewsBoardServiceImpl">
		<property name="gameNewsBoardDao" ref="gameNewsBoardDao" />
	</bean>
	
	<bean id="gameNewsBoardDao" 
		class="com.pcmanager.gamenews.dao.GameNewsBoardDaoImplForOracle">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="reviewBoardService"
		class="com.pcmanager.reviewBoard.service.ReviewBoardServiceImpl">
		<property name="reviewBoardDao" ref="reviewBoardDao"></property>
	</bean>
		
	<bean id="reviewBoardDao" class="com.pcmanager.reviewBoard.dao.ReviewBoardDaoImpl"></bean>
</beans>
