<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.pcmanager.user.vo.UserVO" alias="UserVO" />
		<typeAlias type="com.pcmanager.gamenews.vo.GameNewsBoardSearchVO" alias="GameNewsBoardSearchVO"/>
		<typeAlias type="com.pcmanager.gamenews.vo.GameNewsBoardVO" alias="GameNewsBoardVO"/>
		<typeAlias type="com.pcmanager.gamerank.vo.GameRankVO" alias="GameRankVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/com/pcmanager/user/dao/sql/userDao.xml" />
		<mapper resource="/com/pcmanager/gamenews/dao/sql/gameNewsBoardDao.xml"/>
		<mapper resource="/com/pcmanager/gamerank/dao/sql/gameRankDao.xml"/>
	</mappers>
	
</configuration>  
